<h1>Built in Components</h1>
<h3>Argument: {{model}}</h3>


{{link-to "Hello" '3-10.built-in-components' 'hello'}}


<LinkTo @route="3-10.multiple-arguments" @models={{array 'new link' 'secondArgument'}}>New Link</LinkTo>
